.container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .logoBox {
    margin-bottom: 20px ;
  }
  
  .logo {
    width: 150px;
    height: 150px;
    object-fit: contain;
  }
  
  .formContainer {
    width: 100%;
    background-color: white;
    padding: 24px;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .signInTitle {
    color: black;
  }

  .rememberForgotBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 8px;
    padding-left: 8px;
  }
  
  .rememberMe {
    color: black;
  }

  .forgotPassword{
    margin-right: 1rem !important;
  }
  
  .formContainer .signInButton{
    margin-top: 1rem; 
    margin-bottom: 1rem; 
  }
  
  .link {
    text-decoration: none !important;
  }
  
  .link:hover {
    text-decoration: underline !important;
  }
  